.reading-header {
  text-align: center;

  .chapter-header {
    display: block;
    font-weight: 600;
    font-size: 125%;
  }

  .upload-info {
    font-size: @font-size-base - 1;
    color: @secondary-text-color;
  }
}
