.user-page-container {
  .page-header {
    margin-bottom: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-title {
      display: inline-block;
      border-bottom: 2px solid @link-color;
      font-size: 100%;
      text-transform: uppercase;
      height: fit-content;
    }

    .page-action {
      display: flex;
      margin-left: 10px;
    }
  }
}
