.user-page-container {
  .page-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    .page-title {
      display: inline-block;
      border-bottom: 2px solid @link-color;
      color: #a4a9b3;
      font-weight: 500;

      h5 {
        font-weight: 500;
      }
    }

    .page-action {
      display: flex;
      margin-left: 10px;
    }
  }
}
