@import (reference) "src/styles/variables";

.story-item--vertical {
  margin: 0;
  width: @thumbnail-width;

  .info {
    text-align: center;

    .title {
      font-size: 0.8125rem;
      line-height: 1.25;
      overflow: hidden;
      margin: 0.5rem 0 0.125rem;
    }

    .author {
      font-size: 0.75rem;
      overflow: hidden;
      color: @secondary-text-color;
    }
  }
}
