@import '~rsuite/lib/styles/themes/dark/index.less';

.chapter-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 12px;
  font-size: @font-size-base - 1;
  margin-top: 10px;
}
