@import "~rsuite/lib/styles/themes/dark/index.less";

.user-list-stories-page-toolbar {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .filter-input {
    flex: 1;
    margin-left: 15px;
  }
}

.user-list-stories-page-title {
  display: inline-block;
  border-bottom: 2px solid @link-color;
  margin-bottom: 5px;
  color: #a4a9b3;
  font-weight: 500;
}
