.enhanced-modal {
  .modal-icon .rs-icon {
    font-size: 18px;
    margin-right: 6px;
  }

  .rs-modal-footer {
    .rs-icon {
      margin-right: 5px;
    }
  }
}

.enhanced-modal.enhanced-modal--mobile {
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
}
