@text-color: #272c36;

.light-theme--locator {
  color: red; // any dummy style to prevent removing from build
}

.rs-placeholder-paragraph-rows p,
.rs-placeholder-paragraph-graph {
  background-color: #dcdcdc !important;
}
