.app-header {
  background-color: @body-bg;

  a {
    text-decoration: none;
    color: inherit;
  }

  .rs-nav-item-content:focus {
    background-color: fade(@nav-bar-default-bg, 85%) !important;
  }
}

.app-header--fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.app-header--float {
  background-color: fade(@nav-bar-default-bg, 80%);

  .rs-navbar.rs-navbar-subtle {
    background-color: unset;
  }
}

.app-header--dummy {
  height: @nav-bar-height;
}
