@import "node_modules/rsuite/lib/styles/themes/dark/index.less";

.searchbox-container {
  display: inline-block;
  width: 100%;
  position: absolute;
  z-index: 100;
  top: @nav-bar-height;
  left: 0;
  padding: 0 10px 10px;

  .rs-input {
    background-color: fade(@input-bg, 50%);
  }

  .backdrop {
    height: calc(100vh - @nav-bar-height);
    opacity: 0.8;
  }
}
.searchbox-menu {
  width: calc(100% - 20px);
  z-index: 1000 !important;
}

.searchbox-menu ul {
  max-height: calc(100vh - 114px);
  overflow-y: scroll;
}

.searchbox-menu .searchbox-menu-item {
  flex: 1;
  display: flex;
}

.searchbox-menu .searchbox-menu-item img {
  width: 40px;
  height: 50px;
  margin-right: 8px;
  object-fit: cover;
}

.searchbox-menu .searchbox-menu-item--sub {
  color: rgba(255, 255, 255, 0.45);
  font-size: @font-size-base - 2;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}
