.text-subtitle {
  color: @secondary-text-color;
  font-size: @font-size-base - 2;
}

.text-truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.read-only {
  color: @secondary-text-color;

  input {
    color: @secondary-text-color;
  }
}

.bar-loader {
  > div > div:before {
    background-color: @primary-color;
  }
}

.no-link {
  color: inherit !important;
  text-decoration: none !important;
}

.transparent-input {
  .rs-input,
  .rs-input-group {
    background-color: transparent;
  }
}

.rs-list-item {
  box-shadow: 0 -1px 0 @list-border-color;
}
