@border-radius-base: 2px;
@avatar-border-radius: @border-radius-base;

@font-family-base: "Roboto", "Lucida Grande", "Avenir Next", "Helvetica Neue",
  Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
  STXihei, sans-serif;
@font-size-base: 16px;
@ie-polyfill: false;

body {
  user-select: none;
  text-rendering: optimizeLegibility;

  .rtf.open .rtf--mb > * {
    transform: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: @text-color;
}
