@import '~rsuite/lib/styles/themes/dark/index.less';

.user-toolbar-container {
  .nav-sub {
    font-size: @font-size-base - 2;
    color: rgba(255,255,255,0.65);
    font-weight: normal;
  }

  .user-avatar .rs-nav-item-content {
    padding: 8px 12px !important;
  }

  .nav-icon .rs-nav-item-content > .rs-icon {
    margin-right: 0 !important;
  }

  .rs-dropdown-disabled .rs-nav-item-content,
  .rs-nav-item-disabled .rs-nav-item-content {
    background-color: @body-bg !important;
  }
}
