@import '~rsuite/lib/styles/themes/dark/index.less';

.user-toolbar-avatar .rs-nav-item-content {
  padding: 8px 12px !important;
}

.user-toolbar-icon .rs-nav-item-content > .rs-icon {
  margin-right: 0 !important;
}

.user-toolbar-drawer-subtle {
  font-size: @font-size-base - 2;
  color: rgba(255,255,255,0.65);
  font-weight: normal;
}

.rs-drawer-content {
  display: flex;
  flex-direction: column;
}

.rs-drawer-body {
  height: 100% !important;
  margin-left: 6px !important;
}

.rs-drawer-body button {
  text-align: left;
  padding-top: 12px;
}

.rs-drawer-body button span {
  width: 45px;
  display: inline-block;
  vertical-align: middle;
}

.user-toolbar-logout-button {
  border-radius: 0;
  background: #3c3f43c9 !important;
}
