@import (reference) "src/styles/variables";

.story-editor-container {
  .rs-help-block {
    font-size: @font-size-base - 2;
  }

  .rs-control-label {
    font-size: 14px;
  }

  .rs-btn-toggle.rs-btn-toggle-checked .rs-btn-toggle-inner {
    font-weight: 500;
  }

  .rs-btn-toggle .rs-btn-toggle-inner > span {
    margin-left: 2px;
    margin-right: 2px;
  }

  .form-group-inline {
    float: right;

    .rs-form-control-wrapper {
      width: unset;
    }

    .rs-form-control-wrapper:first-child {
      margin-right: 10px;
    }
  }
}
