@import (reference) "src/styles/variables";

.toolbar-container {
  .nav-sub {
    font-size: @font-size-base - 2;
    color: rgba(255,255,255,0.65);
    font-weight: normal;
  }

  .user-avatar .rs-nav-item-content {
    padding: 8px 12px !important;
  }

  .nav-icon .rs-nav-item-content > .rs-icon {
    margin-right: 0 !important;
  }

  .rs-nav-item-content:focus {
    background-color: fade(@nav-bar-subtle-hover-bg, 50%) !important;
  }
}
