@import (reference) "../common";

.bottom-navigation {
  .reading-navigation();
  bottom: 0;

  .chapters-panel {
    margin-top: 15px;

    .chapter-range .rs-panel-heading {
      background-color: lighten(@panel-bg-color, 5%);
    }
  }
}
