@import "node_modules/rsuite/lib/styles/themes/dark/index.less";
@import "../../../../variables.less";

.story-item--horizontal.story-item--skeleton {
  p {
    background-color: @placeholder-holder-bg;
  }
  .rs-placeholder-paragraph-graph-square {
    width: @thumbnail-width;
    height: @thumbnail-height;
    margin-right: 8px;
  }
}
