.info-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px;
  font-size: @font-size-base - 1;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;

  label {
    text-align: left;
    margin: auto 0;
    color: @secondary-text-color;
  }

  label::after {
    content: ":";
  }

  .status--full {
    color: green;
    font-weight: bold;
  }

  .status--ongoing {
    color: orange;
  }

  .tags-group {
    margin-top: 5px;
    .rs-tag {
      margin-right: 5px;
      margin-bottom: 5px;
    }
    .rs-tag + .rs-tag {
      margin-left: 0;
    }

    a {
      .no-link();
    }
  }
}
