@import (reference) "src/styles/variables";

.full-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: @panel-bg-color;
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .panel-header {
    display: flex;
    align-items: center;

    .rs-icon {
      margin-right: 5px;
    }

    .header-btn-back {
      padding-right: 18px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .header-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .panel-title {
        text-transform: uppercase;
      }

      .panel-subtitle {
        color: @secondary-text-color;
        font-size: 70%;
      }

      .rs-divider-vertical {
        margin: 0 6px;
      }
    }
  }

  > .rs-divider {
    margin: 10px 0 0;
  }

  .panel-body {
    flex: 1;

    .story-list {
      height: 100%;
    }
  }
}
