@import "~rsuite/lib/styles/themes/dark/index.less";
@import '~swiper/swiper';
@import '~swiper/components/navigation/navigation';
@import '~swiper/components/pagination/pagination';

@border-radius-base: 2px;
@avatar-border-radius: @border-radius-base;

@font-family-base: "Roboto", "Lucida Grande", "Avenir Next", "Helvetica Neue",
  Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
  STXihei, sans-serif;
@font-size-base: 16px;
@ie-polyfill: false;

body {
  user-select: none;
  text-rendering: optimizeLegibility;

  .rtf.open .rtf--mb > * {
    transform: none;
  }
}

.noscroll {
  position: relative;
  overflow: hidden;
}

.model--mobile {
  width: unset !important;

  .rs-modal-dialog {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.rs-alert.rs-alert-container {
  left: 0;
  right: 0;
}

.rs-alert.rs-alert-container .rs-alert-item-wrapper {
  margin-left: 0;
}

.mde-preview-content {
  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.center-thing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
