.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;

  .panel {
    padding: 20px;

    .title {
      text-align: center;
      .sub {
        color: rgb(255 255 255 / 75%);
      }
    }
  }

  .button-container {
    > button {
      margin-top: 15px !important;
      text-align: left;
    }
  }
}

.login-container::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;

  filter: blur(3px);
  background-size: cover;
  background-position: center;
  background-image: url("https://fsb.zobj.net/crop.php?r=g9lP9UAZCV4lRZF64ulfWYRkjXO-2nW0bOEr5kvyhqwOdx4y0d-CL3wyaaEYsftydznr0TFI7EsCztm0AwA5yktT-rVytOIp6-YLgVG4dJp8f6WGzCIbdS7nfgwVVMm_Q2qo7J-UuLTV4UOe");
}
