.story-preview {
  .story-header {
    border-radius: 0;

    .rs-panel {
      border-radius: 0 !important;
    }

    .rs-panel-heading {
      padding: 15px 10px 2px;
    }

    .rs-panel-body:not(.rs-panel-body-fill) {
      padding: 0 10px 10px !important;
    }
  }


  .cover {
    width: 100%;
    height: 30vh;
    img {
      width: 100%;
      object-fit: cover;
      object-position: top;
      height: 30vh;
    }
  }

  .rs-divider {
    margin-left: 10px;
    margin-right: 10px;
  }
}
