@import (reference) "../../../variables";

.story-item--compact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .main {
    flex: 1;
    display: flex;
    overflow: hidden;

    .lazy-image-placeholder {
      width: @thumbnail-width--compact;
      height: @thumbnail-height--compact;
      margin-right: 8px;
    }

    img {
      width: @thumbnail-width--compact;
      min-width: @thumbnail-width--compact;
      max-width: @thumbnail-width--compact;
      height: @thumbnail-height--compact;
      min-height: @thumbnail-height--compact;
      max-height: @thumbnail-height--compact;
      margin-right: 8px;
      object-fit: cover;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 0;
    }

    .title {
      line-height: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .main--padding {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .main--nowrap {
    div:nth-child(2) {
      min-width: 0;
    }
    .title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .sub {
    color: @secondary-text-color;
    font-size: @font-size-base - 2;
  }

  .sub--left {
    margin-left: 10px;
  }

  .new-chapter {
    color: @rate-selected-color;
  }

  .action {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    height: 100%;
    width: (@thumbnail-height--compact + 2);
    justify-content: center;
  }
}
